.manage-schedule-container {
    .m-s-title {
        margin-top    : 15px;
        font-weight   : 600;
        font-size     : 17px;
        text-align    : center;
        text-transform: uppercase;

    }

    .pick-hour-container {
        margin   : 20px 0;
        display  : flex;
        gap      : 20px;
        flex-wrap: wrap;

        button {
            padding: 5px 15px;
            border : 1px solid gray
        }
    }
}