div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 9999;
    }
}

.manage-patient-container {
    .manage-patient-title {
        font-size     : 17px;
        margin        : 15px 0;
        font-weight   : 600;
        text-align    : center;
        text-transform: uppercase;
    }

    .manage-patient-boy {
        padding: 0 20px;
    }
}